body {
    margin: 0;
    padding: 0;
}

#pixel-container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
}

.pixel {
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border: .4px solid black;
}

.hovered-pixel {
    background-color: black;
}